<div class="well">
  <h3>お気に入り一覧 </h3>
</div>

<% if @likes.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザid</th>
        <th>ユーザ名</th>
        <th>メッセージ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @likes.each do |like| %>
        <tr>
          <td><%= like.user_id %></td>
          <td><%= User.select('name').find(like.user_id).name  %></td>
          <td><%= like.content %></td>
  
          <td><%= render 'favorites/favorite_button', micropost: like %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
